<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        .row.content {
            height: 450px
        }
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
        .pagination {
            display: inline-block;
        }
        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }
        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }
        .pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }
    </style>
    <script>
        function deleteSlot(id){
            $.ajax({
                "url": "/slots/" + id,
                "method": "DELETE"
            }).done(function() {
                location.reload();
            }).fail(function (data, status) {
                alert("Не удалось удалить слот " + data.status + " " + data.statusText + " " + status);
            });
        }

        function clearStock(id) {
            alert('clear');
            $.ajax({
                "url": "/slots/clear?stockId=" + id,
                "method": "GET"
            }).done(function() {
                location.reload();
            }).fail(function (data, status) {
                alert("Не удалось удалить слот " + data.status + " " + data.statusText + " " + status);
            });
        }

        function planning(id) {
            alert('planning');
            $.ajax({
                "url": "/slots/planning?stockId=" + id,
                "method": "GET"
            }).done(function() {
                location.reload();
            }).fail(function (data, status) {
                alert("Не удалось удалить слот " + data.status + " " + data.statusText + " " + status);
            });
        }
    </script>
    <title>Список всех слотов на складе</title>
</head>
<body>


<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <div>
                <div class="well">
                    <div class="panel-body">
                        <h1>Добро пожаловать</h1>
                        <p>
                            Этот сайт является демо версией <b>автоматизации системы управлением склада</b><br/>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <button width="30" height="30" th:onclick="'clearStock(' + ${stockId} + ')'">
                    Очистить
                </button>
                <button width="30" height="30" th:onclick="'planning(' + ${stockId} + ')'">
                    Распланировать
                </button>
                <form action="/slots/" method="post">
                    <input type="hidden" name="stockId" th:value="${stockId}"/>
                    <select name="day">
                        <option value="1">Понедельник</option>
                        <option value="2">Вторник</option>
                        <option value="3">Среда</option>
                        <option value="4">Четверг</option>
                        <option value="5">Пятница</option>
                        <option value="6">Суббота</option>
                        <option value="7">Воскресенье</option>
                    </select>
                    <input type="text" id="timeFrom" name="timeFrom"/>
                    <input type="text" id="timeTo" name="timeTo"/>
                    <input type="submit" value="Добавить слот"/>
                </form>
            </div>
            <div>
                <div class="pagination">
                    <a href="#">«</a>
                    <a th:href="@{/stock(id=${stockId}, page=1)}">1</a>
                    <a th:href="@{/stock(id=${stockId}, page=2)}" class="active">2</a>
                    <a th:href="@{/stock(id=${stockId}, page=3)}">3</a>
                    <a th:href="@{/stock(id=${stockId}, page=4)}">4</a>
                    <a th:href="@{/stock(id=${stockId}, page=5)}">5</a>
                    <a th:href="@{/stock(id=${stockId}, page=6)}">6</a>
                    <a th:href="@{/stock(id=${stockId}, page=7)}">»</a>
                </div>
            </div>
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td><b>Номер слота</b></td>
                        <td><b>День планирования</b></td>
                        <td><b>Время начала</b></td>
                        <td><b>Время конца</b></td>
                        <td><b>Конвеер</b></td>
                        <td/>
                    </tr>
                    </thead>

                    <!--/*@thymesVar id="slots" type="java.util.Collection"*/-->
                    <!--/*@thymesVar id="slot" type="rooting.model.Slot"*/-->
                    <tr th:each="slot : ${slots}">
                        <td th:text="${slot.getId()}"/>
                        <td>
                            <a th:href="@{/day(stockId=${stockId},id=${slot.getDay()})}" th:text="${days.getOrDefault(slot.getDay(), slot.getDay())}"/>
                        </td>
                        <td th:text="${slot.getTimeFrom()}"/>
                        <td th:text="${slot.getTimeTo()}"/>
                        <td>
                            <a th:if="${slot.getConveyor() != 0}" th:href="@{/conveyor(stockId=${stockId},id=${slot.getConveyor()})}" th:text="${slot.getConveyor()}"/>
                        </td>
                        <td>
                            <img src="img/delete_icon.png" border="0" width="30" height="30" th:onclick="'deleteSlot(' + ${slot.getId()} + ')'"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
